:root{
    --sad1Background: black;
    --sad1Button: #edab97;
    --sad1Text: #fff3ec;
    --sad1Headline:#fffffe;
    --sad2BackGround: #16161a;
    --sad2Button: #7f5af0;
    --sad2Text: #fffffe;
    --sad2Headline: #fffffe;
    --happy1Background: #fef6e4;
    --happy1Button: #f582ae;
    --happy1Text: #172c66;
    --happy1Headline: #001858;
    --happy2Background: #fffffe;
    --happy2Button: #ffd803;
    --happy2Text: #2d334a;
    --happy2Headline: #272343;
    --relax1Background: #004643;
    --relax1Button: #f9bc60;
    --relax1Text:#abd1c6;
    --relax1Headline: #fffffe;
    --relax2Background:#E9E895;
    --relax2Background:#caa652;
    --relax2Background:#957248;
}

/*disables bulma background-color on hover*/
a.navbar-item:hover {
    background-color: white;
}